/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .slider__slide img {
      height: auto;
    }
    #slide-caption {
      font-size: 18px;
    }

    .b-h-block {
        padding: 10px 0;
    }
    .b-h-block-a{
        text-align: —Åenter;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .s-v-descr{
        margin-bottom: 0;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}